---
import Layout from "@layouts/Layout.astro";
const { id } = Astro.params;
const respuesta = await fetch(
  "https://api.themoviedb.org/3/movie/" +
    id +
    "?api_key=8ef82efa8519ab65f4c0856c6563d912&language=en-US"
);
const datos = await respuesta.json();
const poster_url = "https://image.tmdb.org/t/p/w500/";

//trailer

const fetchVideo = await fetch(
  "https://api.themoviedb.org/3/movie/" +
    id +
    "/videos?api_key=8ef82efa8519ab65f4c0856c6563d912&language=en-US"
);
const trailer = await fetchVideo.json();
const res = trailer.results.filter((p) => p.type === "Trailer");
const video = res[0];
const youtube = "https://www.youtube.com/embed/";
---

<Layout>
  <div class="row mt-5">
    <div class="col-md-4">
      <img
        src={poster_url + datos.poster_path}
        alt="Poster de la pelicula"
        class="img-fluid rounded-start"
      />
    </div>
    <div class="col-md-8">
      <h1><span class="badge text-bg-dark">{datos.title}</span></h1>
      <h4>{datos.tagline}</h4>
      <h2>Overview</h2>
      <p>{datos.overview}</p>
      <p><span class="badge text-bg-secondary">{datos.release_date}</span></p>
      <h1>
        <span class="badge text-bg-danger"
          >{Math.round(datos.vote_average)}</span
        >
      </h1>
    </div>
  </div>

  <h1>Trailer</h1>
  <iframe
    src={youtube + video.key}
    width="1280"
    height="720"
    frameborder="0"
    allowfullscreen></iframe>
</Layout>
